/*! normalize.css http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *  http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *  www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0; }

h2 {
  font-size: 1.5em;
  margin: 0; }

h3 {
  font-size: 1.17em;
  margin: 0; }

h4 {
  font-size: 1em;
  margin: 0; }

h5 {
  font-size: 0.83em;
  margin: 0; }

h6 {
  font-size: 0.75em;
  margin: 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *  code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *  Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
    Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Mixing utilities from compass */
/* checklist */
/* checklist */
.checklist {
  margin: 0;
  padding: 0;
  list-style: none; }
  .checklist li {
    list-style: none;
    height: 48px;
    background: white;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; }
    .checklist li:last-child {
      border-bottom: 1px solid #ccc;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
    .checklist li:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
    .checklist li label {
      display: block;
      position: relative;
      padding: 15px;
      border-bottom: 0;
      cursor: pointer;
      cursor: hand; }
  .checklist .checker {
    display: none;
    width: 17px;
    height: 14px;
    background-image: url("/images/tick.png");
    background-repeat: no-repat; }
  .checklist input[type="checkbox"], .checklist input[type="radio"] {
    cursor: pointer;
    display: none;
    float: right;
    line-height: 20px; }
    .checklist input[type="checkbox"]:checked + span, .checklist input[type="radio"]:checked + span {
      color: black;
      font-weight: 600; }
      .checklist input[type="checkbox"]:checked + span .checker, .checklist input[type="radio"]:checked + span .checker {
        display: block; }
      .checklist input[type="checkbox"]:checked + span::after + span, .checklist input[type="radio"]:checked + span::after + span {
        font-weight: 600; }

/* overrides */
.modal-content {
  float: left;
  display: block; }
  .modal-content .form-group {
    float: left;
    width: 100%; }

.modal-body {
  float: left;
  padding: 8px 20px 0px 20px; }
  .modal-body .full-block {
    margin: 0px 0px 12px 0px; }

/* alerts */
.alert-sm {
  padding: 4px 12px; }

label {
  display: block; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 32px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #bbbbbb;
  outline: none; }

html, body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  float: left;
  font-weight: 300; }

.section-wrapper h1 {
  float: left;
  width: 100%;
  margin: 12px 0px; }
.section-wrapper .administration-title {
  float: left;
  width: 50%; }
.section-wrapper .administration-controls {
  float: right;
  width: 50%; }
  .section-wrapper .administration-controls ul {
    float: right;
    margin: 8px 0px 0px 0px; }

.full-block {
  width: 100%;
  float: left; }

.breadcrumbs-wrapper {
  float: left;
  width: 100%; }
  .breadcrumbs-wrapper ul {
    margin: 12px 0px 0px 0xp; }

/* header */
.site-header {
  width: 100%;
  float: left;
  background-color: #eeeeee; }
  .site-header img {
    float: left;
    margin: 12px 0px; }
  .site-header .production-status {
    width: 100%;
    text-align: center;
    padding: 8px 0px;
    background-color: black;
    color: white; }
  .site-header .settings {
    float: right;
    padding: 22px 0px; }

.fixed .header-wrapper, .fixed .section-wrapper {
  width: 960px;
  margin: 0 auto; }
.fixed .section-wrapper {
  margin-bottom: 40px; }

.fluid .header-wrapper, .fluid .section-wrapper {
  margin: 0px 24px; }

#footer {
  background-color: black;
  clear: both;
  position: relative; }
  #footer .credits {
    float: right;
    margin: 10px;
    color: white; }

/*account pages */
.login {
  background-color: #eeeeee; }
  .login h2, .login p {
    text-align: center; }
  .login .introduction {
    color: black; }
  .login .alert {
    margin: 8px 0px 0px 0px;
    float: left;
    width: 100%; }
  .login .alert-main {
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: #ff1800; }
  .login .section-wrapper {
    float: left;
    width: 100%; }
  .login .login-form-wrapper {
    width: 320px;
    margin: 0 auto; }
  .login label {
    color: black; }
    .login label a {
      color: black;
      font-weight: normal; }
  .login .label-group {
    width: 100%;
    float: left; }
    .login .label-group .password-label {
      float: left; }
    .login .label-group .forgotpassword-label {
      float: right; }
  .login input[type="password"],
  .login input[type="email"] {
    width: 100%;
    float: left; }
  .login .btn-login {
    float: right;
    margin: 8px 0px 0px 0px; }
  .login .full-block {
    margin: 0px 0px 8px 0px; }
  .login .logo {
    padding: 0px;
    margin: 40px 0px 24px 0px;
    border-bottom: 0px;
    text-align: center; }

/*home pages */
.home p {
  margin: 0px; }
.home h2 {
  margin: 12px 0px 0px 0px;
  float: left;
  width: 100%; }
.home h3 {
  margin: 12px 0px 8px 0px;
  float: left;
  width: 100%; }
.home .list-inline li {
  padding: 0px 8px 8px 0px; }
.home .component a {
  display: table-cell;
  width: 120px;
  height: 120px;
  border: 1px solid #bf3d30;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: #bf3d30;
  padding: 8px;
  vertical-align: bottom; }
  .home .component a .component-icon, .home .component a span {
    float: left;
    clear: right;
    width: 100%; }
  .home .component a i {
    font-size: 48px; }
.home .component a:hover {
  color: white;
  background-color: #bf3d30; }
.home .component a.disabled {
  cursor: default;
  color: #555555;
  background-color: #bbbbbb;
  border-color: #bbbbbb; }
.home .component a.disabled:hover {
  cursor: default;
  color: #555555;
  background-color: #bbbbbb; }

.dashboard p {
  margin: 0px; }
.dashboard .panel {
  margin: 0px 0px 16px 0px; }
  .dashboard .panel .panel-body {
    padding: 0px 15px; }
  .dashboard .panel .table {
    margin: 0px; }
.dashboard .section-wrapper section {
  float: left;
  width: 100%;
  margin: 12px 0px 0px 0px; }
.dashboard h2 {
  float: left;
  width: 100%; }
.dashboard h3 {
  margin: 12px 0px 8px 0px;
  float: left;
  width: 100%; }
.dashboard .list-inline {
  margin: 12px 0px 0px 0px; }
  .dashboard .list-inline li {
    padding: 0px 8px 8px 0px; }
.dashboard .component a {
  display: table-cell;
  width: 120px;
  height: 120px;
  border: 1px solid #bf3d30;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: #bf3d30;
  padding: 8px;
  vertical-align: bottom; }
  .dashboard .component a .component-icon, .dashboard .component a span {
    float: left;
    clear: right;
    width: 100%; }
  .dashboard .component a i {
    font-size: 48px; }
.dashboard .component a:hover {
  color: white;
  background-color: #bf3d30; }
.dashboard .component a.disabled {
  cursor: default;
  color: #555555;
  background-color: #bbbbbb;
  border-color: #bbbbbb; }
.dashboard .component a.disabled:hover {
  cursor: default;
  color: #555555;
  background-color: #bbbbbb; }

.landing h1, .landing h2, .landing h3, .landing h4, .landing p, .landing span {
  font-family: 'Roboto Light'; }
.landing header {
  padding: 12px 32px 0px 32px;
  float: left;
  width: 100%; }
  .landing header ul li {
    padding: 0px 16px; }
    .landing header ul li a {
      color: black;
      font-size: 1.14286em; }
.landing h2 {
  font-size: 2.28571em;
  padding: 12px 0px; }
.landing section {
  width: 100%;
  float: left;
  padding: 32px 0px; }
.landing .section-content {
  width: 960px;
  margin: 0 auto; }
  .landing .section-content .list-inline li {
    padding: 0px 40px 20px 0px; }
  .landing .section-content p {
    font-size: 1.71429em; }
.landing .what-cp-is ul li {
  padding: 16px 0px;
  float: left;
  width: 100%; }
  .landing .what-cp-is ul li span {
    float: left;
    font-size: 1.71429em;
    line-height: 2em; }
  .landing .what-cp-is ul li .img-holder {
    width: 100px;
    text-align: center;
    margin: 0px 12px 0px 0px; }
.landing .introduction-section {
  text-align: center; }
  .landing .introduction-section h2 {
    font-size: 3.42857em; }
  .landing .introduction-section h4 {
    font-size: 1.28571em; }
.landing .black-patch {
  background-color: black;
  color: white; }

/*utilities pages */
.script-generator section {
  float: left;
  width: 100%; }
.script-generator h1 {
  margin: 12px 0px 0px 0px; }
.script-generator p {
  margin: 8px 0px 0px 0px; }
.script-generator .main-section {
  width: 80%;
  float: left; }
.script-generator aside {
  width: 20%;
  float: left;
  padding: 64px 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.script-generator .script-detection {
  display: table-row;
  margin: 0px 0px 20px 0px;
  width: 100%;
  float: left; }
  .script-generator .script-detection div {
    display: table-cell;
    width: 300px; }
  .script-generator .script-detection ul {
    padding: 0px 0px 0px 20px; }
.script-generator .well {
  margin: 20px 0px;
  float: left;
  width: 100%; }
  .script-generator .well .upload {
    width: 100%; }
  .script-generator .well .uploaded-file-description {
    float: left;
    display: table-cell; }
    .script-generator .well .uploaded-file-description label {
      margin: 8px 0px; }
  .script-generator .well .btn-generate {
    float: right; }

/*error pages*/
.illegal section {
  width: 100%;
  float: left;
  margin: 100px 0px;
  text-align: center; }
  .illegal section i {
    font-size: 150px; }

.missing section {
  width: 100%;
  float: left;
  margin: 100px 0px;
  text-align: center; }
  .missing section i {
    font-size: 150px; }

html, body {
  min-height: 100%; }

#root {
  clear: both;
  min-height: 100%;
  margin-bottom: -40px; }
  #root #root_footer {
    height: 40px; }

#footer {
  clear: both;
  position: relative;
  height: 40px; }
