$color-muted-light: #eeeeee;
$color-muted-mid: #bbbbbb;
$color-muted-dark: #777777;
$color-muted-intense: #555555;

$color-text-reversed: #ffffff;
$color-text: #222;
$font-text-default: 'Roboto';

$text-size-base: 14;

$color-brand-black: #000;

$color-brand-fade-red: #ff8073;
$color-brand-light-red: #ff5240;
$color-brand-red: #ff1800;
$color-brand-dark-red: #bf3d30;
$color-brand-darkest-red: #a61000;